{% extends "shop_base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="container">
    <h2 data-aos="fade-up">School Shop</h1>
        <div class="row g-3">
            <form action="/shop/add-to-cart/${item.id}" method="post">
                {% csrf_token %}
            {% for item in items %}
            <div class="col-md-3" data-aos="fade-up" data-aos-delay="{{ forloop.counter0|add:1 }}00">
                <div class="card shadow-sm product-card">
                    <div class="product-image">
                        {% if item.image %}
                        <img src="{{ item.image.url }}" class="card-img-top"> 
                        {% endif %}
                    </div>
                    
                        <div class="card-body product-details">
                            <h5 class="card-title gsap-fade-up product-title">{{ item.name }}</h5>
                            <p class="text-muted small">{{ item.description|truncatechars:100 }}</p>
                            <p class="fw-bold product-price mb-2">₦{{ item.price|intcomma }}</p>
                            <div class="mb-3 text-center">
                                {% if item.in_stock %}
                                <span class="badge bg-success me-3">In Stock</span>
                                {% else %}
                                <span class="badge bg-danger me-3">Out of Stock</span>
                                {% endif %}                     
                            </div>                   
                        </div>
                            <div class="d-flex gap-2 justify-content-center">
                                <a href="{% url 'shop:detail' item.slug %}"
                                    class="btn btn-outline-primary btn-sm">View</a>
                                    <button type="submit" class="btn btn-primary btn-sm add-to-cart" data-id="{{ item.id }}">Add to
                                    cart</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {% endblock %}