{% extends "shop_base.html" %}
{% block title %}Store{% endblock %}

{% block content %}
<h2 class="fw-bold mb-4" data-aos="fade-up">Available Products</h2>

<div class="row g-4">
    {% for p in products %}
    <div class="col-6 col-md-3" data-aos="fade-up" data-aos-delay="{{ forloop.counter0 }}00">
        <div class="card shadow-sm product-card">
            {% if p.image %}
            <img src="{{ p.image.url }}" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ p.name }}</h5>
                <p class="text-muted">₦{{ p.price }}</p>
                <button class="btn btn-success w-100 add-cart"
                        data-id="{{ p.id }}">
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
