{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">

 {% if messages %}
  {% for message in messages %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}


  <h3>Delete User</h3>
  <p>Are you sure you want to delete {{ user_obj.get_full_name }}?</p>
  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a href="{% url 'admin_manage_users' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}
