{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
  <div class="card shadow p-4" style="width: 350px;">
    <h3 class="text-center mb-3">Login</h3> 

    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input 
          type="text" 
          name="username" 
          id="username" 
          class="form-control" 
          placeholder="Enter username" 
          required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input 
          type="password" 
          name="password" 
          id="password" 
          class="form-control" 
          placeholder="Enter password" 
          required>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
    <a href="{% url 'signup' %}" class="text-center">Don't have an account? Register here</a>
  </div>
</div>
{% endblock %}
